- reply_links = authorize_for('issues', 'edit')
- for journal in journals
  %div{:class => journal.css_classes, :id => "change-#{journal.id}"}
    %div{:id => "note-#{journal.indice}"}
      %h4
        = link_to "##{journal.indice}", {:anchor => "note-#{journal.indice}"}, :class => "journal-link"
        = avatar(journal.user, :size => "24")
        = authoring journal.created_on, journal.user, :label => :label_updated_time_by
      - if journal.details.any?
        %ul.details
          - details_to_strings(journal.visible_details).each do |string|
            %li= string
      = render_notes(issue, journal, :reply_links => reply_links) unless journal.notes.blank?
  = call_hook(:view_issues_history_journal_bottom, { :journal => journal })
- heads_for_wiki_formatter if User.current.allowed_to?(:edit_issue_notes, issue.project) || User.current.allowed_to?(:edit_own_issue_notes, issue.project)
